# Uploaded user files
DA/uploads/
DA/financial_reports/
DA/id_uploads/
DA/accomplishment/
DA/proposals/
DA/profile/user/
DA/profile/chairperson/
DA/projects/
DA/renewal/

# IDE
.vscode/

# Dependencies (install via composer)
vendor/